.aboutus {
    width: 100%;

    &__container {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/Rogel.jpg");
        @extend .bgimagecontainer;
    }

    h2 {
        @include templateFlex(center, false);
        margin: 10px;
        color: $fontDark;
    }

    p {
        @include templateFlex(center, false);
        text-align: justify;
        margin: 20px;
        color: $fontMed;
    }
}

.team {
    @include templateFlex(space-around, false);
    width: 100%;

    img {
        margin: 20px;
        height: auto;
        width: 250px;
        border: 5px solid #7A4495;
        border-radius: 10px; 
    }
}
